<div style="margin-top: 50px" class="mat-elevation-z8">
  <mat-card-title>Seus Contratos</mat-card-title>

  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <mat-card-title>Acompanhe seus Contratos</mat-card-title>

    <ng-container matColumnDef="dataContrato">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Criação</th>
      <td mat-cell *matCellDef="let row" class="espaco">{{row.dataContrato|date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="prazo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prazo</th>
      <td mat-cell *matCellDef="let row" class="espaco">{{row.prazo|date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
      <td mat-cell *matCellDef="let row" class="espaco" >{{row.total|currency: 'BRL'}}</td>
    </ng-container>
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
      <td mat-cell *matCellDef="let row" class="espaco">{{row.descricao}}</td>
    </ng-container>

    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row" class="espaco">
        <button mat-raised-button color="primary" style="background-color: green" *ngIf="row.status == 3" ><mat-icon>check</mat-icon> Pronto</button>
        <button mat-raised-button color="primary" *ngIf="row.status == 2" (click)="pronto(row)"><mat-icon>send</mat-icon> Enviar</button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="itens"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20, itens]">
  </mat-paginator>
</div>
