<mat-card>
  <mat-card-title>Novo Contrato</mat-card-title>


    <mat-form-field appearance="fill" class="espaco" style="width: 80%">
      <mat-label>Descrição</mat-label>
      <textarea matInput autofocus></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Escolha a data de Entrega</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  <form>

    <h4>Selecione o Projeto</h4>
    <mat-form-field appearance="fill" class="linha" >
      <mat-label>Projetos</mat-label>
      <mat-select>
        <mat-option *ngFor="let projeto of ListaProjetos" [value]="projeto.idProjeto">
          {{projeto.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="linha">
      <mat-label>Valor</mat-label>
      <input matInput mask="separator.2"
             [thousandSeparator]="'.'"
             [decimalMarker]="','"
             prefix="R$ "
             type="text"
             [dropSpecialCharacters]="true" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="linha" style="width: 80%">
      <mat-label>Descrição do Projeto</mat-label>
      <textarea matInput ></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" style="margin-bottom: 30px;"
            class="espaco" (click)="adicionaProjeto()"><mat-icon>add</mat-icon> Adicionar</button>

  </form>
</mat-card>
