<mat-card style="margin: 20px" class="mat-elevation-z6">
  <mat-card-title>
    Cadastro para Freelancer
  </mat-card-title>
  <form [formGroup]="Freelancer" class="centralizar" (ngSubmit)="cadastrar()">
    <mat-form-field appearance="fill" class="espaco">
      <mat-label>Nome</mat-label>
      <input matInput type="text"  formControlName="Nome" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="espaco">
      <mat-label>CPF</mat-label>
      <input matInput type="text" formControlName="Cpf" (blur)="ConfereCPF()"  mask="000.000.000-00" >
    </mat-form-field>
    <mat-form-field appearance="fill" class="espaco">
      <mat-label>Login</mat-label>
      <input matInput type="text"  (blur)="ConfereLogin()" formControlName="Login">
    </mat-form-field>

    <mat-form-field appearance="fill" class="espaco">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="Senha">
    </mat-form-field>
    <mat-form-field appearance="fill" class="espaco">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" (blur)="ConfereEmail()" formControlName="Email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="espaco">
      <mat-label>Telefone</mat-label>
      <input matInput type="tel" mask="(00) 0000-0000||(00) 0 0000-0000" formControlName="Telefone">
    </mat-form-field>

    <mat-form-field appearance="fill" class="espaco" >
      <mat-label>Ra</mat-label>
      <input matInput type="text" (blur)="ConfereRa()" formControlName="Ra">
    </mat-form-field>

    <mat-form-field appearance="fill" class="espaco" style="width: 80%">
      <mat-label>Descreva suas Experiências</mat-label>
      <textarea matInput formControlName="Experiencia"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary"  [disabled]="Freelancer.invalid" style="margin-bottom: 30px;"
            class="espaco">Cadastre-se</button>
  </form>
  <button mat-stroked-button color="warn" (click)="login()" class="espaco" >Cancelar</button>

</mat-card>
