<mat-card style="text-align: center" class="mat-elevation-z6">
  <mat-card-title>Seja bem vindo, {{this.dadosCadastrais.nome|titlecase}} </mat-card-title>


  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <mat-list role="list">
        <mat-list-item ><mat-icon class="icone">account_circle</mat-icon>Nome: {{this.dadosCadastrais.nome|titlecase}}</mat-list-item>
        <mat-list-item> <mat-icon class="icone">assignment</mat-icon>CNPJ: {{this.dadosCadastrais.cnpj|mask: '000.000.000-00||00.000.000/0000-00'}} </mat-list-item>
        <mat-list-item> <mat-icon class="icone">mail</mat-icon>Email: {{this.dadosCadastrais.email}}</mat-list-item>
        <mat-list-item> <mat-icon class="icone">phone</mat-icon>Telefone: {{this.dadosCadastrais.telefone| mask:'(00) 00000-0000||(00) 0000-0000'}}</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list role="list">
        <img src="assets/Social_media_adv_SVG.svg"  width="200px">
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list role="list">
      <mat-list-item> <mat-icon class="icone">batch_prediction</mat-icon>Projetos: {{this.dadosCadastrais.qtdProjetos|number}}</mat-list-item>
      <mat-list-item> <mat-icon class="icone">star</mat-icon>Nota: {{this.dadosCadastrais.mediaNota|number}} </mat-list-item>
      <mat-list-item> <mat-icon class="icone">work</mat-icon>Area: {{this.dadosCadastrais.areaAtuacao}}</mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>

  <button mat-raised-button color="primary" (click)="editar()" ><mat-icon>edit</mat-icon> Editar</button>

</mat-card>
<mat-card style="margin-top: 5%">
  <mat-card-title style="text-align: center;">
    <img src="assets/Business_SVG.svg" width="200px">
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="criacontrato()"><mat-icon>add_circle_outline</mat-icon>Novo Contrato</button>
  </mat-card-title>
</mat-card>

<mat-card style="margin-top: 20px" class="mat-elevation-z6">
  <mat-card-title>Seus Contratos</mat-card-title>
<app-tabela-contratos></app-tabela-contratos>
</mat-card>
