<mat-card style="text-align: center" class="mat-elevation-z6">
  <mat-card-title>Seja bem vindo, {{this.loginService.cadastro.nome|titlecase}} </mat-card-title>


  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-list role="list">
        <mat-list-item ><mat-icon class="espaco">account_circle</mat-icon>Nome: {{this.loginService.cadastro.nome|titlecase}}</mat-list-item>
        <mat-list-item> <mat-icon class="espaco">assignment</mat-icon>CNPJ: {{this.loginService.cadastro.cnpj|mask: '000.000.000-00||00.000.000/0000-00'}} </mat-list-item>
        <mat-list-item> <mat-icon class="espaco">mail</mat-icon>Email: {{this.loginService.cadastro.email}}</mat-list-item>
        <mat-list-item> <mat-icon class="espaco">phone</mat-icon>Telefone: {{this.loginService.cadastro.telefone| mask:'(00) 00000-0000||(00) 0000-0000'}}</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list role="list">
      <mat-list-item> <mat-icon class="espaco">batch_prediction</mat-icon>Projetos: {{this.loginService.cadastro.qtdProjetos|number}}</mat-list-item>
      <mat-list-item> <mat-icon class="espaco">star</mat-icon>Nota: {{this.loginService.cadastro.mediaNota|number}} </mat-list-item>
      <mat-list-item> <mat-icon class="espaco">work</mat-icon>Area: {{this.loginService.cadastro.areaAtuacao}}</mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card>

<mat-card style="margin-top: 5%">

  <mat-card-title>
    <button mat-raised-button color="primary"><mat-icon>add_circle_outline</mat-icon>Novo Projeto</button>
  </mat-card-title>



</mat-card>
